<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Sysext Creator Project</vendor>
  <vendor_url>https://github.com/namar66/sysext-creator</vendor_url>

  <action id="org.sysext.creator.doctor">
    <description>Run Sysext Doctor diagnostics</description>
    <description xml:lang="cs">Spustit diagnostiku Sysext Doctor</description>
    <message>Authentication is required to run system diagnostics.</message>
    <message xml:lang="cs">Pro spuštění systémové diagnostiky je vyžadováno ověření.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/sysext-doctor</annotate>
  </action>

  <action id="org.sysext.creator.cli">
    <description>Manage System Extensions via CLI</description>
    <description xml:lang="cs">Správa systémových rozšíření přes CLI</description>
    <message>Authentication is required to install or remove system extensions.</message>
    <message xml:lang="cs">Pro instalaci nebo odstranění rozšíření je vyžadováno ověření.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/sysext-cli</annotate>
  </action>

  <action id="org.sysext.creator.gui">
    <description>Run Sysext Manager GUI</description>
    <description xml:lang="cs">Spustit grafické rozhraní Sysext Manager</description>
    <message>Authentication is required to manage system extensions.</message>
    <message xml:lang="cs">Pro správu systémových rozšíření je vyžadováno ověření.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/sysext-creator-gui</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
