[Desktop Entry]
Type=Service
MimeType=application/x-rpm;
Actions=installAsSysext;
X-KDE-Priority=TopLevel
Icon=package-x-generic

[Desktop Action installAsSysext]
Name=Instalovat jako System Extension
Icon=system-software-install
Exec=konsole --hold -e sysext-creator install %f
