[Unit]
Description=Sysext Creator IPC Socket


ListenStream=/run/sysext-creator.sock
# Accept=yes říká systemd, aby pro každé připojení vytvořil novou instanci služby
Accept=yes
SocketMode=0660
SocketUser=root
SocketGroup=wheel

[Install]
WantedBy=sockets.target
