[Unit]
Description=Sysext Creator Varlink Socket

[Socket]
ListenStream=/run/sysext-creator.sock
Accept=yes
SocketMode=0660
SocketUser=root
SocketGroup=wheel

[Install]
WantedBy=sockets.target
