[Unit]
Description=Automatic update of Sysext system extensions
After=graphical-session.target

[Service]
Type=oneshot
# Notifikace před začátkem
ExecStartPre=/usr/bin/notify-send "Sysext-Creator" "Starting automatic extension check and update..." --icon system-software-install
ExecStart=$HOME/.local/bin/sysext-cli update
ExecStartPost=/usr/bin/notify-send "Sysext-Creator" "Automatic update completed." --icon system-software-install
