[Desktop Entry]
Name=Sysext-Creator
Comment=Managing system extensions for Fedora Atomic
Comment[cs]=Správa systémových rozšíření pro atomickou Fedoru
Exec=sysext-gui-wrapper
Icon=sysext-creator-icon
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=fedora;atomic;sysext;extension;dnf;
StartupNotify=true
X-KDE-StartupNotify=true
